{% extends './base.html'%}
{% load socialaccount %}
{%load static%}
{%block title%}View cart{%endblock%}
{%block slider%}

<div class="page-header text-center" style="background-image: url('{% static 'shop/assets/images/page-header-bg.jpg'%}')">
    <div class="container">
        <h1 class="page-title">Login</h1>
    </div><!-- End .container -->
</div><!-- End .page-header -->
<nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a  href="{%url 'home'  %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{%url 'shop'  %}">Shop</a></li>
            <li class="breadcrumb-item active" aria-current="page">Login</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->

{% endblock %}
{%block display%}

<main class="main">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">

    <div class="tab-content" id="tab-content-5">
        <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="signin-tab">
            <h2 class="text-primary">Login</h2>
            {% if messages %}  
            <div class="alert alert-primary" role="alert">
            <ul>   
                {% for message in messages %}  
                  <div class = 'alert alert-{{message.tags}}'>  
                    {{ message }}   
                  </div>  
                  {% endfor %}  
            </ul>   
        {% endif %}   
        </div>
    
            <form action="" method="POST">
                {%csrf_token%}

               
                <div class="form-group">
                    <label for="singin-email">email address *</label>
                    <input type="email" class="form-control" id="singin-email" name="email" required>
                </div><!-- End .form-group -->

                <div class="form-group">
                    <label for="singin-password">Password *</label>
                    <input type="password" class="form-control" id="singin-password" name="password" required>
                </div><!-- End .form-group -->

                <div class="form-footer">
                    <button type="submit" class="btn btn-outline-primary-2">
                        <span>Login</span>
                        <i class="icon-long-arrow-right"></i>
                    </button>

                    <div class="custom-control custom-checkbox mx-5">
                        <input type="checkbox" class="custom-control-input" id="signin-remember">
                        <label class="custom-control-label" for="signin-remember">Remember Me</label>
                    </div><!-- End .custom-checkbox -->

                    <a href="#" class="forgot-link">Forgot Your Password?</a>
                </div><!-- End .form-footer -->
            </form>
            <hr>
            <div class="form-choice">
                <p class="text-center">or sign in with</p>
                <div class="row">
                    <div class="col-sm-6">
                        <a href="{% provider_login_url 'google' %}" class="btn btn-login btn-g">
                            <i class="icon-google"></i>
                            Login With Google
                        </a>
                    </div><!-- End .col-6 -->
                    <div class="col-sm-6">
                        <a href="#" class="btn btn-login btn-f">
                            <i class="icon-facebook-f"></i>
                            Login With Facebook
                        </a>
                    </div><!-- End .col-6 -->
                </div><!-- End .row -->

                <div class="row mt-5">
                    <div class="col-sm-6">
                        <a href="{% provider_login_url 'github' %}" class="btn btn-login btn-g">
                            <i class="icon-github"></i>
                            Login With GitHub
                        </a>
                    </div><!-- End .col-6 -->
                    <div class="col-sm-6">
                        <a href="#" class="btn btn-login btn-f">
                            <i class="icon-instagram"></i>
                            Instagram
                        </a>
                    </div><!-- End .col-6 -->
                </div>
            </div><!-- End .form-choice -->
        </div>
    </div>
</div>
</div><!-- End .page-content -->
</main>
{% endblock %}


{%block category%}{% endblock %}

{%block recent%}{% endblock %}

