{% extends './base.html'%}
{%load static%}
{%block title%}Payment success{%endblock%}
{%block slider%}

<div class="page-header text-center" style="background-image: url('{% static 'shop/assets/images/page-header-bg.jpg'%}')">
    <div class="container">
        <h1 class="page-title">Payment Success</h1>
    </div><!-- End .container -->
</div><!-- End .page-header -->
<nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a  href="{%url 'home'  %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{%url 'shop'  %}">Shop</a></li>
            <li class="breadcrumb-item active" aria-current="page">payment Success</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->

{% endblock %}
{%block display%}

<main class="main">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">

                <div class="jumbotron text-center mt-5">
                   <h4> <span>Order ID: </span><strong>{{order_id}}</strong></h4>
                    <h1 class="text-success">Payment Success</h1>
                    <p>We received your order. You can now close this window or use the
                        link below to visit 
                        <a href="{% url 'home' %}">home page</a>.</br>
                       
                       
                        <a>{{session_id}}</a>
                    </p>
                </div>
    </div>
</div>
</div><!-- End .page-content -->
</main>
{% endblock %}


{%block category%}{% endblock %}

{%block recent%}{% endblock %}

