{% extends './base.html'%}
{%load static%}
{%block title%}View cart{%endblock%}
{%block slider%}

<div class="page-header text-center" style="background-image: url('{% static 'shop/assets/images/page-header-bg.jpg'%}')">
    <div class="container">
        <h1 class="page-title">Shopping Cart<span>Shop</span></h1>
    </div><!-- End .container -->
</div><!-- End .page-header -->
<nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a  href="{%url 'home'  %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{%url 'shop'  %}">Shop</a></li>
            <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->

{% endblock %}
{%block display%}

<main class="main">
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    {% include './toolsbox.html' %}
              <!-- End .toolbox -->

                    <div class="products mb-3">
                        <div class="row justify-content-center">
                            {%for product in page_obj%}
                            <div class="col-6 col-md-4 col-lg-4">
                                <div class="product product-7 text-center">
                                    <figure class="product-media">
                                        <span class="product-label label-new">{{product.brand.name}}</span>
                                        <a href="{% url 'product-details' product.id%}">
                                            <img  src="{{product.image1.url}}">
                                        </a>
                                        <div id="image{{product.id}}" class="d-none">{{product.image1.url}}</div>
                                        <div class="product-action-vertical">
                                            <button id="{{product.id}}" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></button>
                                            <a href="{% url 'product-details' product.id%}" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                           
                                        </div><!-- End .product-action-vertical -->

                                        <div class="product-action">
                                           
                                            <a  id="{{product.id}}" class="btn-product btn-cart">add to cart</a>
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#">{{product.category.name}}</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a  id="n{{product.id}}"  href="{% url 'product-details' product.id%}">{{product.title}}</a></h3><!-- End .product-title -->
                                        <div id="p{{product.id}}"class="product-price">{{product.discount_price}}</div><span class="text-primary"><del>{{product.price}}</del></span><!-- End .product-price -->
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 20%;"></div><!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                            <span class="ratings-text">( 2 Reviews )</span>
                                        </div><!-- End .rating-container -->

                                        <div class="product-nav product-nav-thumbs">
                                            <a href="#" class="active">
                                                <img src="{{product.image2.url}}" alt="product desc">
                                            </a>
                                            <a href="#">
                                                <img src="{{product.image2.url}}" alt="product desc">
                                            </a>

                                            
                                        </div><!-- End .product-nav -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div><!-- End .col-sm-6 col-lg-4 -->
                            {%endfor%}
                          
                        </div><!-- End .row -->
                    </div><!-- End .products -->

                    {%include './pagination.html'%}
                </div><!-- End .col-lg-9 -->
               {% include './sidebar.html'%}
                <!-- End .col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div
</main>
{% endblock %}


{%block category%}{% endblock %}

{%block recent%}{% endblock %}

